<p>
    <mat-toolbar color="primary" class="toolbar">
        <mat-toolbar-row>
            <span class="logo"><mat-icon style="font-size: 50px;">sports_esports</mat-icon></span>
            <a href="" class="store-link"><span class="store">Game Mania</span></a>
            <span class="example-spacer"></span>
            <mat-icon class="search-icon">search</mat-icon>
            <span><input type="search" name="" id="" class="search" placeholder="O que você procura?"></span>
            <button mat-icon-button="mat-icon-button" class="menubar-icon" id="menubar">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="access-area">
            <span class="subtitle">Sua loja de entretenimento</span>
            <div class="links">
                <nav id="menu">
                    <a href="">Eletrônicos</a>
                    <a href="">Jogos</a>
                    <a href="">Acessórios</a>
                    <a href="">Peças</a>
                    <a href="">Serviços</a>
                </nav>
                <a  routerLink="login" matTooltip="Login" mat-icon-button="mat-icon-button" class="login-icon">
                    <mat-icon>person</mat-icon>
                </a>
                <a mat-icon-button="mat-icon-button" matTooltip="Carrinho" class="cart-icon">
                    <mat-icon>shopping_cart</mat-icon>
                </a>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</p>

