<section class="banner-box">
    <div class="banner">
        <div class="img"><span>Diversão garantida com os melhores jogos do ano!</span></div>
    </div>
</section>

<section class="destaques-box">
    <div class="destaques">
        <h2>Destaques & novidades</h2>
    </div>

    <div class="produtos">
        <mat-card class="produto" *ngFor="let cartao of cartoes">
                <mat-card-header>
                    <mat-card-title>{{ cartao.titulo }}</mat-card-title>
                    <mat-card-subtitle></mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="cartao.imagem" alt="">
                <mat-card-content>
                    <p class="nome">
                          {{ cartao.nomeProduto }}
                    </p>
                    <p class="preco">{{ cartao.precoProduto }}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>{{ cartao.nomeBotao }}</button>
                </mat-card-actions>
          
        </mat-card>

      </div>   
      <div class="mais">
        <a routerLink="produtos" mat-flat-button color="primary">Ver mais</a>
      </div>
</section>

<section class="formulario-box">
   <div class="formulario">
      <h2>Dúvidas, sugestões, ou reclamações ? Fale conosco!</h2>
      <form class="form" #contactUsForm="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Nome</mat-label>
          <input matInput placeholder="Nome"  name="nome" [(ngModel)]="faleConosco.nome">
        </mat-form-field>
      
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="Email" name="email" [(ngModel)]="faleConosco.email">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Deixe sua mensagem</mat-label>
          <textarea matInput placeholder="" name="mensagem" [(ngModel)]="faleConosco.mensagem"></textarea>
        </mat-form-field>

        <div class="enviar">
          <button type="submit" mat-flat-button color="primary">Enviar</button>
        </div>
      </form>
   </div>
   
</section>


