<footer>
    <div class="localizacao">
        <div class="detalhes">
            <div class="endereco">
                <p>
                    <span class="material-icons">
                        location_on
                    </span>Endereço:
                </p>
                <p>Rua xxxxxxxx, z/n</p>
            </div>
            <div class="contatos">
                <p>
                    <span class="material-icons">
                        local_phone
                    </span>Telefone: (xx)xxxx-xxxx</p>
                <p>
                    <span class="material-icons">
                        email
                    </span>E-mail: contato@gamemania.com</p>
            </div>
        </div>
        <div class="blocos">
            <div class="bloco">
                <h2>Loja</h2>
                <a href="">Sobre nós</a>
                <a href="">Devolução</a>
                <a href="">Reembolso</a>
                <a href="">Pagamento</a>
                <a href="">(+) Mais</a>
            </div>
            <div class="bloco">
                <h2>Games</h2>
                <a href="">Playstation 4</a>
                <a href="">Playstation 5</a>
                <a href="">Nintendo</a>
                <a href="">XBoxOne</a>
                <a href="">(+) Mais</a>
            </div>
            <div class="bloco">
                <h2>Outros</h2>
                <a href="">PC</a>
                <a href="">Notebooks</a>
                <a href="">Joysticks</a>
                <a href="">Acessórios</a>
                <a href="">(+) Mais</a>
            </div>

            <div class="bloco">
                <h2>Peças</h2>
                <a href="">Memórias</a>
                <a href="">Processadores</a>
                <a href="">Ventoinhas</a>
                <a href="">Fontes</a>
                <a href="">(+) Mais</a>
            </div>

            <div class="bloco">
                <h2>Serviços</h2>
                <a routerLink="montagem">Montagem de PC</a>
                <a href="">Consertos</a>
                <a href="">Termos de Garantia</a>
                <a href="">Central de ajuda</a>
                <a href="">(+) Mais</a>
            </div>
        </div>

    </div>

    <div class="midias">
        <p>Acesse nossas mídias sociais: </p>
        <div class="icones">
            <a href=""><i class="fab fa-facebook"></i></a>
            <a href=""><i class="fab fa-youtube"></i></a>
            <a href=""><i class="fab fa-instagram"></i></a>
            <a href=""><i class="fab fa-twitter"></i></a>
        </div>
    </div>
    <div class="direitos">
        <p>Loja Game Mania - CNPJ: XX. XXX. XXX/0001-XX - Todos os direitos reservados - 2021 &reg;</p>
    </div>
</footer>
